<div class="team-list">
  <h4 class="filter-title">Filter by Letter</h4>

  <!-- Alphabet filter -->
  <div class="alphabet-filter">
    <button
      *ngFor="let letter of letters()"
      mat-stroked-button
      color="primary"
      (click)="selectLetter(letter)"
      type="button"
      class="letter-button"
      [class.letter-button--selected]="selectedLetter() === letter"
    >
      {{ letter }}
    </button>
    <button
      mat-stroked-button
      (click)="selectLetter('')"
      type="button"
      class="letter-button"
      [class.letter-button--selected]="!selectedLetter()"
    >
      All
    </button>
  </div>

  <!-- Teams table -->
  <div class="my-10">
    <div class="team-container">
      <table mat-table [dataSource]="filteredTeams()" class="team-table">
        <!-- Team name -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef class="team-header">Team</th>
          <td mat-cell *matCellDef="let team" class="team-cell">
            <span
              class="hover:cursor-pointer hover:underline"
              matTooltip="Team overview page coming soon"
            >
              {{ team }}
            </span>
          </td>
        </ng-container>

        <!-- External links -->
        <ng-container matColumnDef="ext">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="team-header team-header--icon team-header--icon--right"
          >
            External Links
            <mat-icon>open_in_new</mat-icon>
          </th>
          <td mat-cell *matCellDef="let team" class="team-cell links-cell">
            <a [href]="createWikipediaLink(team)" target="_blank">Wikipedia</a>
            <span class="divider">|</span>
            <a [href]="createWorldFootballLink(team)" target="_blank">WorldFootball</a>
            <span class="divider">|</span>
            <a [href]="create11v11Link(team)" target="_blank">11v11</a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['team', 'ext']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['team', 'ext']" class="team-row"></tr>
      </table>
    </div>
  </div>
</div>
