<div class="table-container">
  <table mat-table [dataSource]="sortedTable" class="footy-table">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef class="head">#</th>
      <td mat-cell *matCellDef="let element; let i = index" class="cell">
        <span class="rank" [class.rank-top]="i < 4">{{ i + 1 }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef class="head">Team</th>
      <td mat-cell *matCellDef="let element" class="cell team">{{ element.teamName }}</td>
    </ng-container>

    <ng-container matColumnDef="played">
      <th mat-header-cell *matHeaderCellDef class="head center">P</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.played }}</td>
    </ng-container>

    <ng-container matColumnDef="won">
      <th mat-header-cell *matHeaderCellDef class="head center">W</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.won }}</td>
    </ng-container>

    <ng-container matColumnDef="drawn">
      <th mat-header-cell *matHeaderCellDef class="head center">D</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.drawn }}</td>
    </ng-container>

    <ng-container matColumnDef="lost">
      <th mat-header-cell *matHeaderCellDef class="head center">L</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.lost }}</td>
    </ng-container>

    <ng-container matColumnDef="goalsFor">
      <th mat-header-cell *matHeaderCellDef class="head center">GF</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.goalsFor }}</td>
    </ng-container>

    <ng-container matColumnDef="goalsAgainst">
      <th mat-header-cell *matHeaderCellDef class="head center">GA</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.goalsAgainst }}</td>
    </ng-container>

    <ng-container matColumnDef="goalDifference">
      <th mat-header-cell *matHeaderCellDef class="head center">GD</th>
      <td mat-cell *matCellDef="let element" class="cell center">{{ element.goalDifference }}</td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef class="head center points">Pts</th>
      <td mat-cell *matCellDef="let element" class="cell center points">{{ element.points }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns; let i = index"
      [class.row-top]="i < 4"
    ></tr>
  </table>
</div>
